<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 数据源配置SQL author by contact@liuxp.me -->
<mapper namespace="alice.code.creator.dao.generator.GeneratorConfigDatasourceDao" >
    <!-- 映射关系 -->
    <resultMap id="resultMap" type="alice.code.creator.domain.model.generator.GeneratorConfigDatasource" >
        <id column="id" property="id" jdbcType="BIGINT" />       <!-- 自增主键 -->
        <result column="datasource_name" property="datasourceName" jdbcType="VARCHAR" />       <!-- 数据源名称 -->
        <result column="datasource_type" property="datasourceType" jdbcType="VARCHAR" />       <!-- 数据源类型（MySQL,Oracle,SQLServer） -->
        <result column="driver_class_name" property="driverClassName" jdbcType="VARCHAR" />       <!-- JDBC驱动 -->
        <result column="url" property="url" jdbcType="VARCHAR" />       <!-- 数据源地址 -->
        <result column="username" property="username" jdbcType="VARCHAR" />       <!-- 用户名 -->
        <result column="password" property="password" jdbcType="VARCHAR" />       <!-- 密码 -->
        <result column="owner_user_id" property="ownerUserId" jdbcType="BIGINT" />       <!-- 所有者用户编号 -->
        <result column="owner_user_name" property="ownerUserName" jdbcType="VARCHAR" />       <!-- 所有者用户名称 -->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />       <!-- 创建时间 -->
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />       <!-- 创建用户 -->
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />       <!-- 更新时间 -->
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />       <!-- 更新用户 -->
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />       <!-- 删除标志 0：未删除 1：已删除 -->
    </resultMap>

    <!-- 查询列 -->
    <sql id="queryColumns">
        id,       /* 自增主键 */
        datasource_name,       /* 数据源名称 */
        datasource_type,       /* 数据源类型（MySQL,Oracle,SQLServer） */
        driver_class_name,       /* JDBC驱动 */
        url,       /* 数据源地址 */
        username,       /* 用户名 */
        password,       /* 密码 */
        owner_user_id,       /* 所有者用户编号 */
        owner_user_name,       /* 所有者用户名称 */
        create_time,       /* 创建时间 */
        create_user,       /* 创建用户 */
        update_time,       /* 更新时间 */
        update_user,       /* 更新用户 */
        is_delete       /* 删除标志 0：未删除 1：已删除 */
    </sql>

    <!-- 查询条件 -->
    <sql id="queryClause">
        <where>
            is_delete = 0    /* 删除标志 0：未删除 1：已删除 */
            <if test="id != null">
                AND id = #{id, jdbcType=BIGINT}	/* 自增主键 */
            </if>
            <if test="idMin != null">
                <![CDATA[ AND id > #{idMin, jdbcType=BIGINT} ]]>	/* 自增主键大于某值*/
            </if>
            <if test="idMax != null">
                <![CDATA[ AND id < #{idMax, jdbcType=BIGINT} ]]>	/* 自增主键小于某值 */
            </if>
            <if test="datasourceName != null and datasourceName != ''" >
                AND datasource_name = #{datasourceName,jdbcType=VARCHAR}       /* 数据源名称 */
            </if>
            <if test="datasourceNameLike != null and datasourceNameLike != ''" >
                AND datasource_name LIKE concat('%', #{datasourceNameLike,jdbcType=VARCHAR},'%')       /* 数据源名称 */
            </if>
            <if test="datasourceType != null and datasourceType != ''" >
                AND datasource_type = #{datasourceType,jdbcType=VARCHAR}       /* 数据源类型（MySQL,Oracle,SQLServer） */
            </if>
            <if test="driverClassName != null and driverClassName != ''" >
                AND driver_class_name = #{driverClassName,jdbcType=VARCHAR}       /* JDBC驱动 */
            </if>
            <if test="url != null and url != ''" >
                AND url = #{url,jdbcType=VARCHAR}       /* 数据源地址 */
            </if>
            <if test="username != null and username != ''" >
                AND username = #{username,jdbcType=VARCHAR}       /* 用户名 */
            </if>
            <if test="password != null and password != ''" >
                AND password = #{password,jdbcType=VARCHAR}       /* 密码 */
            </if>
            <if test="ownerUserId != null" >
                AND owner_user_id = #{ownerUserId,jdbcType=BIGINT}       /* 所有者用户编号 */
            </if>
            <if test="ownerUserName != null and ownerUserName != ''" >
                AND owner_user_name = #{ownerUserName,jdbcType=VARCHAR}       /* 所有者用户名称 */
            </if>
            <if test="ownerUserNameLike != null and ownerUserNameLike != ''" >
                AND owner_user_name LIKE concat('%', #{ownerUserNameLike,jdbcType=VARCHAR},'%')       /* 所有者用户名称 */
            </if>
            <if test="createTimeBegin != null" >
                <![CDATA[ AND create_time >= #{createTimeBegin,jdbcType=TIMESTAMP} ]]>       /* 创建时间/起 */
            </if>
            <if test="createTimeEnd != null" >
                <![CDATA[ AND create_time <= #{createTimeEnd,jdbcType=TIMESTAMP} ]]>       /* 创建时间/止 */
            </if>
            <if test="createUser != null and createUser != ''" >
                AND create_user = #{createUser,jdbcType=VARCHAR}       /* 创建用户 */
            </if>
            <if test="updateTimeBegin != null" >
                <![CDATA[ AND update_time >= #{updateTimeBegin,jdbcType=TIMESTAMP} ]]>       /* 更新时间/起 */
            </if>
            <if test="updateTimeEnd != null" >
                <![CDATA[ AND update_time <= #{updateTimeEnd,jdbcType=TIMESTAMP} ]]>       /* 更新时间/止 */
            </if>
            <if test="updateUser != null and updateUser != ''" >
                AND update_user = #{updateUser,jdbcType=VARCHAR}       /* 更新用户 */
            </if>
        </where>
    </sql>

    <!-- 排序 -->
    <sql id="sortClause">
        <if test="_sort != null">
            ORDER BY
            <foreach collection="_sort" item="item" index="index" separator=",">
                <choose>
                    <when test="item.propertyName != null and item.propertyName == 'id'">
                        id    /* 自增主键 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'datasourceName'">
                        datasource_name    /* 数据源名称 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'datasourceType'">
                        datasource_type    /* 数据源类型（MySQL,Oracle,SQLServer） */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'driverClassName'">
                        driver_class_name    /* JDBC驱动 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'url'">
                        url    /* 数据源地址 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'username'">
                        username    /* 用户名 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'password'">
                        password    /* 密码 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'ownerUserId'">
                        owner_user_id    /* 所有者用户编号 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'ownerUserName'">
                        owner_user_name    /* 所有者用户名称 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'createTime'">
                        create_time    /* 创建时间 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'createUser'">
                        create_user    /* 创建用户 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'updateTime'">
                        update_time    /* 更新时间 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <when test="item.propertyName != null and item.propertyName == 'updateUser'">
                        update_user    /* 更新用户 */
                        <choose>
                            <when test="item.ascending">ASC</when>
                            <otherwise>DESC</otherwise>
                        </choose>
                    </when>
                    <otherwise>update_time DESC</otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

    <!-- 分页 -->
    <sql id="pageClause">
        <if test="_page != null">
            limit #{_page.offset, jdbcType=INTEGER}, #{_page.limit, jdbcType=INTEGER}
        </if>
    </sql>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="alice.code.creator.domain.model.generator.GeneratorConfigDatasource" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO generator_config_datasource (
            datasource_name,                      /* 数据源名称 */
            datasource_type,                      /* 数据源类型（MySQL,Oracle,SQLServer） */
            driver_class_name,                      /* JDBC驱动 */
            url,                      /* 数据源地址 */
            username,                      /* 用户名 */
            password,                      /* 密码 */
            owner_user_id,                      /* 所有者用户编号 */
            owner_user_name,                      /* 所有者用户名称 */
            create_time,                      /* 创建时间 */
            create_user,                      /* 创建用户 */
            update_time,                      /* 更新时间 */
            update_user,                      /* 更新用户 */
            is_delete       /* 删除标志 0：未删除 1：已删除 */
        )VALUES(
            #{datasourceName, jdbcType=VARCHAR},                 /* 数据源名称 */
            #{datasourceType, jdbcType=VARCHAR},                 /* 数据源类型（MySQL,Oracle,SQLServer） */
            #{driverClassName, jdbcType=VARCHAR},                 /* JDBC驱动 */
            #{url, jdbcType=VARCHAR},                 /* 数据源地址 */
            #{username, jdbcType=VARCHAR},                 /* 用户名 */
            #{password, jdbcType=VARCHAR},                 /* 密码 */
            #{ownerUserId, jdbcType=BIGINT},                 /* 所有者用户编号 */
            #{ownerUserName, jdbcType=VARCHAR},                 /* 所有者用户名称 */
            #{createTime, jdbcType=TIMESTAMP},                 /* 创建时间 */
            #{createUser, jdbcType=VARCHAR},                 /* 创建用户 */
            #{updateTime, jdbcType=TIMESTAMP},                 /* 更新时间 */
            #{updateUser, jdbcType=VARCHAR},                 /* 更新用户 */
            #{isDelete, jdbcType=TINYINT}                 /* 删除标志 0：未删除 1：已删除 */
        )
    </insert>

    <!-- 批量插入数据 -->
    <insert id="batchInsert" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO generator_config_datasource (
            datasource_name,                      /* 数据源名称 */
            datasource_type,                      /* 数据源类型（MySQL,Oracle,SQLServer） */
            driver_class_name,                      /* JDBC驱动 */
            url,                      /* 数据源地址 */
            username,                      /* 用户名 */
            password,                      /* 密码 */
            owner_user_id,                      /* 所有者用户编号 */
            owner_user_name,                      /* 所有者用户名称 */
            create_time,                      /* 创建时间 */
            create_user,                      /* 创建用户 */
            update_time,                      /* 更新时间 */
            update_user,                      /* 更新用户 */
            is_delete       /* 删除标志 0：未删除 1：已删除 */
        )VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.datasourceName, jdbcType=VARCHAR},                 /* 数据源名称 */
                #{item.datasourceType, jdbcType=VARCHAR},                 /* 数据源类型（MySQL,Oracle,SQLServer） */
                #{item.driverClassName, jdbcType=VARCHAR},                 /* JDBC驱动 */
                #{item.url, jdbcType=VARCHAR},                 /* 数据源地址 */
                #{item.username, jdbcType=VARCHAR},                 /* 用户名 */
                #{item.password, jdbcType=VARCHAR},                 /* 密码 */
                #{item.ownerUserId, jdbcType=BIGINT},                 /* 所有者用户编号 */
                #{item.ownerUserName, jdbcType=VARCHAR},                 /* 所有者用户名称 */
                #{item.createTime, jdbcType=TIMESTAMP},                 /* 创建时间 */
                #{item.createUser, jdbcType=VARCHAR},                 /* 创建用户 */
                #{item.updateTime, jdbcType=TIMESTAMP},                 /* 更新时间 */
                #{item.updateUser, jdbcType=VARCHAR},                 /* 更新用户 */
                #{item.isDelete, jdbcType=TINYINT}                 /* 删除标志 0：未删除 1：已删除 */
            )
        </foreach>
    </insert>

    <!-- 按主键更新 -->
    <update id="updateByPrimaryKey" parameterType="java.util.Map">
        <if test="_parameter != null">
            UPDATE generator_config_datasource
            <set>
                <if test="datasourceName != null">
                    datasource_name = #{datasourceName, jdbcType=VARCHAR},    /* 数据源名称 */
                </if>
                <if test="datasourceType != null">
                    datasource_type = #{datasourceType, jdbcType=VARCHAR},    /* 数据源类型（MySQL,Oracle,SQLServer） */
                </if>
                <if test="driverClassName != null">
                    driver_class_name = #{driverClassName, jdbcType=VARCHAR},    /* JDBC驱动 */
                </if>
                <if test="url != null">
                    url = #{url, jdbcType=VARCHAR},    /* 数据源地址 */
                </if>
                <if test="username != null">
                    username = #{username, jdbcType=VARCHAR},    /* 用户名 */
                </if>
                <if test="password != null">
                    password = #{password, jdbcType=VARCHAR},    /* 密码 */
                </if>
                <if test="ownerUserId != null">
                    owner_user_id = #{ownerUserId, jdbcType=BIGINT},    /* 所有者用户编号 */
                </if>
                <if test="ownerUserName != null">
                    owner_user_name = #{ownerUserName, jdbcType=VARCHAR},    /* 所有者用户名称 */
                </if>
                <if test="createTime != null">
                    create_time = #{createTime, jdbcType=TIMESTAMP},    /* 创建时间 */
                </if>
                <if test="createUser != null">
                    create_user = #{createUser, jdbcType=VARCHAR},    /* 创建用户 */
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime, jdbcType=TIMESTAMP},    /* 更新时间 */
                </if>
                <if test="updateUser != null">
                    update_user = #{updateUser, jdbcType=VARCHAR},    /* 更新用户 */
                </if>
                    is_delete = 0       /* 删除标志 0：未删除 1：已删除 */
            </set>
            <where>
                id = #{id, jdbcType=BIGINT}	/* 自增主键 */
                AND is_delete = 0		/* 删除标志 0：未删除 1：已删除 */
            </where>
        </if>
    </update>

    <!-- 按主键删除 -->
    <update id="deleteByPrimaryKey" parameterType="alice.code.creator.domain.model.generator.GeneratorConfigDatasource">
        <if test="_parameter != null">
            UPDATE generator_config_datasource
            <set>
                is_delete = 1,    /* 删除标志 0：未删除 1：已删除 */
                update_user = #{updateUser, jdbcType=VARCHAR},	/* 修改人 */
                update_time = #{updateTime, jdbcType=TIMESTAMP}	/* 修改时间 */
            </set>
            <where>
                id = #{id, jdbcType=BIGINT}	/* 自增主键 */
                AND is_delete = 0		/* 删除标志 0：未删除 1：已删除 */
            </where>
        </if>
    </update>

    <!-- 按主键批量删除 -->
    <update id="batchDeleteByPrimaryKey" parameterType="java.util.Map">
        <if test="_parameter != null">
            UPDATE generator_config_datasource
            <set>
                is_delete = 1,    /* 删除标志 0：未删除 1：已删除 */
                update_user = #{updateUser, jdbcType=VARCHAR},	/* 修改人 */
                update_time = #{updateTime, jdbcType=TIMESTAMP}	/* 修改时间 */
            </set>
            <where>
                id in    /* 自增主键集合 */
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
                AND is_delete = 0    /* 删除标志 0：未删除 1：已删除 */
            </where>
        </if>
    </update>

    <!-- 按主键批量物理删除，慎用 -->
    <delete id="batchDeleteByPrimaryKeyPhysically" parameterType="java.util.List">
        <if test="_parameter != null">
            DELETE FROM generator_config_datasource
            <where>
                id in	/* 自增主键集合 */
                <foreach collection="list" item="id" open="(" separator="," close=")">
                    #{id, jdbcType=BIGINT}
                </foreach>
            </where>
        </if>
    </delete>

    <!-- 查询所有记录 -->
    <select id="selectAll" resultMap="resultMap">
        SELECT
        <include refid="queryColumns"/>
        FROM
        generator_config_datasource
        <where>
            is_delete = 0    /* 删除标志 0：未删除 1：已删除 */
        </where>
    </select>

    <!-- 按主键查询 -->
    <select id="selectByPrimaryKey" resultMap="resultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="queryColumns"/>
        FROM
        generator_config_datasource
        <where>
            id = #{id, jdbcType=BIGINT}	/* 自增主键 */
            AND is_delete = 0			/* 删除标志 0：未删除 1：已删除 */
        </where>
    </select>

    <!-- 按主键集合查询 -->
    <select id="selectByPrimaryKeys" resultMap="resultMap" parameterType="java.util.List">
        SELECT
        <include refid="queryColumns"/>
        FROM
        generator_config_datasource
        <where>
            id in	/* 自增主键集合 */
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id, jdbcType=BIGINT}
            </foreach>
            AND is_delete = 0	/* 删除标志 0：未删除 1：已删除 */
        </where>
    </select>

    <!-- 按条件查询 -->
    <select id="selectByCondition" resultMap="resultMap" parameterType="java.util.Map">
        SELECT
        <include refid="queryColumns"/>
        FROM
        generator_config_datasource
        <include refid="queryClause"/>
        <include refid="sortClause"/>
        <include refid="pageClause"/>
    </select>

    <!-- 按条件统计记录数 -->
    <select id="countByCondition" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT
        COUNT(1)
        FROM
        generator_config_datasource
        <include refid="queryClause"/>
    </select>

</mapper>